@import "responsive";
@import "variables";
@import "media";

/*styles*/
html, body {

  overflow-x: hidden;
  overflow-y: scroll;
}

body {

  margin: -3px;;
  width: 0;
  height: 0;
  font-family: Calibri;
  background-color: @orange;
}

.nav1 {

  .nav-basic;
  top: 0;
  background-color: #485164;
}

.nav2 {
  .nav-basic;
  top: 9%;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

li {
  a {
    text-decoration: none;
    padding: 1%;
    cursor: pointer;
  }
}

.links  {

    > li {
      display: inline-block;
      //margin-right: 1%;
      text-align: center;
      padding: 0;

      & a:hover {
        border-bottom: 2px solid #fd7a2a;
      }
    }
}

.pull-right{
  float: right;
}

.links1 {

    > li {
      //width: 5%;

      a {
        color: @white;
      }

      & a:active {
        border-bottom: 2px solid #fd7a2a;
      }
    }
}

.links2 {

    > li {
      width: 15%;
      margin-right: 1px;
      padding: 1%;
      text-transform: uppercase;
    }
}

.meeting {

  background-color: @light-gray;
  color: @orange;

}

.image {

  width: 10%;
  float: left;
}

.nav-footer {

    .header;
    display: inline-block;
    position: absolute;
    bottom: -15%;
    background-color: @dark-gray;
    z-index: 999;
}

.links-footer {

  > li {

    display: inline-block;
    width: 6%;
    text-align: center;
    .href-white;

    &:hover {
      color: @light-gray;
    }
  }
}

.form {

    display: inline-block;
    position: absolute;
    top: 25%;
    right: 5%;
    width: 30%;
    height: 70%;
    background-color: @white;
    opacity: 0.9;
    text-align: center;
    margin-bottom: 5%;
    padding: 0;

    h3 {
      color: @orange;
      display: inline-block;
    }
    h1 {
      font-weight: 300;
      display: inline-block;
    }

    //.input-field;
    input {
      width: 100%;
      border: 1px solid @light-gray;
      margin-bottom: 1px;
      padding: 4%;
      background-color: @light-gray;

      &:hover {
        border: 2px solid @orange;
      }
    }
}

.button {
    display: inline-block;
    width: 90%;
    background-color: @orange;
    color: @white;
    margin: 4%;
    padding: 2%;

    &:hover {
      background-color: @light-orange;
      cursor: pointer;
    }
}

.loginForm {

    display: inline-block;
    position: absolute;
    top: 25%;
    right: 30%;
    width: 40%;
    background-color: @white;
    text-align: center;

    .form-image {
      display: inline-block;
      //width: 80%;
    }

    //.input-field;
    input {
      width: 100%;
      border: 1px solid @light-gray;
      margin-bottom: 0;
      padding: 4%;
      background-color: @light-gray;

      &:hover {
        border: 2px solid @orange;
      }
    }
    .btn-login {
      .button;
      background-color: @blue;
      color: @white;
    }

  ul.breadcrumb {
    padding: 8px 16px;
    //list-style: none;
    background-color: @dark-blue;
  }
  ul.breadcrumb li {

    display: inline-block;
    width: 10%;
    float: left;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: @dark-gray;
    content: "/\00a0";
  }
  ul.breadcrumb li a {

    color: @light-gray;
  }

    /*> label {
      display: inline-block;
      position: absolute;
      bottom: 3%;
      left: 55%;
      color: @blue;

      &:hover {
        border-bottom: 1px solid @blue;
      }*/

}
