<!DOCTYPE html>
<html lang="en">
    <!--head of the web page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Web Designing"/>
        <meta name="keywords" content="web designing, UI UX, web development" />

        <title>GoTo Meeting</title>
        <link href="../stylesheets/styles/styles.css" rel="stylesheet"/>
        <link href="../stylesheets/styles/responsive.css" rel="stylesheet"/>
        <link href="../stylesheets/styles/main.css" rel="stylesheet"/>
        <!-- Latest compiled and minified CSS -->
        <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="bootstrap/css/boostrap-theme-min.css"> -->
    </head>
    <body>
        <article>
            <section>
                <header>

                    <nav class="nav-header1">
                        <!-- main-header logo-->
<!--                        <figure id="logo-citrix" class="img-responsive">-->
                        <figure class="logo-citrix column-6">
                            <img src="../images/logo_header.PNG">
                        </figure>

                        <!--<figure class="logo-citrix column-1">
                            <img src="../images/logo_header-small.PNG">
                        </figure>-->

                        <ul class="header column-lg-12">
                            <li>
                                <a href="">Support</a>
                            </li>
                            <li>
                                <a href="login.html">Sign In</a>
                            </li>
                        </ul>
                    </nav>
                </header>

                    <nav class="nav-header2">
                        <!-- nav2 logo-->
                        <figure id="logo-goto" class="img-responsive">
                            <img src="../images/logo_index.PNG">
                        </figure>

                        <ul id="header2">
                            <li>
                                <a href="">FEATURES</a>
                            </li>
                            <li>
                                <a href="">PLANS & PRICING</a>
                            </li>
                            <li>
                                <a href="">RESOURCES</a>
                            </li>
                            <li class="meeting">
                                <a href="">JOIN A MEETING</a>
                            </li>
                            <li class="meeting">
                                <a href="">HOST A MEETING</a>
                            </li>
                        </ul>
                    </nav>
            </section>

            <section class="rows">
                <div class="column-xs-12 column-md-4 column-lg-4">
                    <form>
                        <h3>ONLINE MEETINGS MADE EASY</h3>
                        <h1>Millions of Businesses rely on GoToMeeting.</h1>
                        <h5>GoToMeeting lets your best work shine through.</h5>

                        <div class="column-sm-6">
                            <input type="text" name="firstName" placeholder="First Name">
                        </div>
                        <div class="column-sm-6">
                            <input type="text" name="lastName" placeholder="Last Name">
                        </div>
                        <div class="column-xs-12">
                            <input type="email" name="email" placeholder="Email Address"
                                   data-error-message="Please enter a valid email address">
                        </div>
                        <div class="column-xs-12">
                            <input type="password" placeholder="Password: 8-32 letters and numbers"
                                   data-error-message="Password must contain letters and numbers">
                        </div>

                        <button type="submit" id="submit" class="button">
                            <span>Start my free 7-day trail</span>
                        </button>
                    </form>
                </div>
            </section>
            <footer>
                <!--<div class="column-md-12">
                    <nav class="nav-footer1">
                        <h3>Connect with us</h3>
                        <ul id="footer1">
                            <li>
                                <a href="//https:www.facebook.com"></a>
                                <img src="../images/facebook.PNG" class="social-icons">
                            </li>
                            <li>
                                <a href="//https:www.twitter.com"></a>
                                <img src="../images/twitter.PNG" class="social-icons">
                            </li>
                            <li>
                                <a href="//https:www.facebook.com"></a>
                                <img src="../images/google-plus.PNG" class="social-icons">
                            </li>
                            <li>
                                <a href="//https:www.youtube.com"></a>
                                <img src="../images/youtube.PNG" class="social-icons">
                            </li>
                        </ul>
                    </nav>
                </div> -->

                <!--<div class="column-md-12">
                    <nav class="nav-footer2">
                        <ul id="footer2">
                            <li>
                                <a href="#">United States</a>
                            </li>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Anti-Spam Policy</a>
                            </li>
                            <li>
                                <a href="#">Download GoToMeeting for Customers</a>
                            </li>
                        </ul>

                        <figure class="footer-image">
                            <img src="../images/logo_header.PNG">
                        </figure>
                    </nav>
                </div>-->

                <figure class="footer-image">
                    <img src="../images/logo_header.PNG">
                </figure>
            </footer>
        </article>
    </body>
</html>