<!DOCTYPE html>
<html lang="en">
    <!--head of the web page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Web Designing"/>
        <meta name="keywords" content="web designing, UI UX, web development" />

        <title>GoTo Meeting</title>
        <!--<link href="../stylesheets/styles/styles.css" rel="stylesheet"/>-->
        <link href="../stylesheets/styles/combine.css" rel="stylesheet"/>
        <!-- Latest compiled and minified CSS -->
        <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="bootstrap/css/bootstrap-theme-min.css"> -->
    </head>
    <body>
        <article class="contains">
            <section>
                <header>

                    <nav class="nav1">
                        <div class="rows">

                            <div class="column-xs-4 column-sm-4 column-md-8 column-lg-8">
                                <div class="image">
                                    <img src="../images/logo_header.png">
                                </div>
                            </div>
                            <div class="column-xs-8 column-sm-8 column-md-4 column-lg-4">
                                <ul class="links1 links">
                                    <li class="column-xs-6 column-sm-6 column-md-6 column-lg-6">
                                        <a href="login.html">Sign In</a>
                                    </li>

                                    <li class="column-xs-6 column-sm-6 column-md-6 column-lg-6">
                                        <a href="">Support</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>

                    <nav class="nav2">
                        <div class="rows">

                            <div class="hidden-xs column-sm-2 column-md-8 column-lg-8">
                                <div class="image">
                                    <img src="../images/logo_index.png">
                                </div>
                            </div>

                            <div class="column-xs-12 column-sm-10 column-md-4 column-lg-4">

                                <ul class="links2 links">
                                    <li class="column-xs-12 column-sm-4 column-md-4 column-lg-4">
                                        <a href="#">Menu ￬</a>
                                        <ul>
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Plans & Pricing</a></li>
                                            <li><a href="#">Resources</a></li>
                                        </ul>
                                    </li>

                                    <div class="rows">
                                        <div class="column-xs-12 column-sm-8 column-md-8 column-lg-8">
                                            <li class="meeting column-xs-6 column-sm-6 column-md-6 column-lg-6">
                                            <!--<li class="meeting column-sm-2 column-md-2 column-lg-2">-->
                                                <a href="">Join Meeting</a>
                                            </li>
                                            <li class="meeting column-xs-6 column-sm-6 column-md-6 column-lg-6">
                                            <!--<li class="meeting column-sm-2 column-md-2 column-lg-2">-->
                                                <a href="">Host Meeting</a>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>

            </section>

            <section class="rows">

                <div class="column-xs-12 column-sm-12 column-md-6 column-lg-4">

                    <form class="form main-form">
                        <div>
                            <h4>ONLINE MEETINGS MADE EASY</h4>
                            <h1>Millions of Businesses rely on GoToMeeting.</h1>
                            <h5>GoToMeeting lets your best work shine through.</h5>
                        </div>

                        <div>
                            <input type="text" name="firstName" placeholder="First Name" class="input">
                        </div>

                        <div>
                            <input type="text" name="lastName" placeholder="Last Name" class="input">
                        </div>

                        <div>
                            <input type="email" name="email" placeholder="Email Address" class="input">
                        </div>

                        <div>
                            <input type="password" placeholder="Password: 8-32 letters and numbers" class="input">
                        </div>

                        <button type="submit" id="submit" class="button">
                            <span>Start my free 7-day trail</span>
                        </button>
                    </form>
                <div class="column-md-6 column-lg-8">
                </div>

                </div>
            </section>

            <section>
                <footer class="footer">
                    <nav>
                        <div class="rows">
                            <ul class="no-list-style center-text">

                                <li class="column-xs-12 column-sm-12 column-md-12 column-lg-12">
                                    <a href="http://www.facebook.com" target="_blank">
                                        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                                    </a>

                                    <a href="http://www.twitter.com" target="_blank">
                                        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                                    </a>
                                    <a href="http://plus.google.com" target="_blank">
                                        <i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i>
                                    </a>
                                    <a>
                                        <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                    <div class="rows">
                        <div class="column-xs-12 column-sm-12 column-md-12 column-lg-12">
                            <nav class="rows">
                                <ul>

                                    <li>
                                    <!--<li class="column-xs-2 column-sm-2 column-md-2 column-lg-2">-->
                                        <a href="#">United States</a>
                                    </li>

                                    <li>
                                    <!--<li class="column-xs-2 column-sm-2 column-md-2 column-lg-2">-->
                                        <a href="#">Terms of Service</a>
                                    </li>

                                    <li>
                                    <!--<li class="column-xs-2 column-sm-2 column-md-2 column-lg-2">-->
                                        <a href="#">Privacy Policy</a>
                                    </li>

                                    <li>
                                    <!--<li class="column-xs-2 column-sm-2 column-md-2 column-lg-2">-->
                                        <a href="#">Anti-Spam Policy</a>
                                    </li>

                                    <li>
                                    <!--<li class="column-xs-2 column-sm-2 column-md-2 column-lg-2">-->
                                        <a href="#">Download GoToMeeting</a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                </footer>
            </section>
        </article>
    </body>
</html>