<!DOCTYPE html>
<html lang="en">
    <!--head of the web page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Web Designing"/>
        <meta name="keywords" content="web designing, UI UX, web development" />

        <title>GoTo Meeting</title>
        <!--<link href="../stylesheets/styles/styles.css" rel="stylesheet"/>-->
        <link href="../stylesheets/styles/combine.css" rel="stylesheet"/>
       <!-- <link href="cs.css" rel="stylesheet"/>-->
        <!-- Latest compiled and minified CSS -->
        <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="bootstrap/css/boostrap-theme-min.css"> -->
    </head>
    <body>
        <article class="contains">
            <section>
                <header>

                    <div class="header ">

                        <nav class="nav1 rows">
                                <div class="column-lg-4 column-xs-12 column-sm-12 column-md-4">
                                    <figure class="logo-citrix column-lg-3">
                                        <img src="../images/logo_header.png">
                                    </figure>
                                </div>
                                <ul class="links1">
                                    <li class="column-lg-4 column-xs-12 column-sm-12 column-md-4">
                                        <a href="" class="href-white">Support</a>
                                    </li>
                                    <li class="column-lg-4 column-xs-12 column-sm-12 column-md-4">
                                        <a href="login.html" class="href-white">Sign In</a>
                                    </li>
                                </ul>
                        </nav>
                    </div>

                    <div >
                        <nav class="nav2 rows">
                            <div class="column-lg-3 column-xs-12 column-sm-12 column-md-4">
                                <figure class="center logo-goto">
                                    <img src="../images/logo_index.png">
                                </figure>
                            </div>
                            <div class="column-lg-9 column-xs-12 column-sm-12 column-md-8">
                                <ul class="links2">
                                    <li>
                                        <a href="">Features</a>
                                    </li>
                                    <li>
                                        <a href="">Plans & Pricing</a>
                                    </li>
                                    <li>
                                        <a href="">Resources</a>
                                    </li>
                                    <li class="meeting">
                                        <a href="">Join a Meeting</a>
                                    </li>
                                    <li class="meeting">
                                        <a href="">Host a Meeting</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </header>

            </section>

            <section class="contains">
                    <div class="rows">
                        <form class="form">
                            <div>
                                <h3>ONLINE MEETINGS MADE EASY</h3>
                                <h1>Millions of Businesses rely on GoToMeeting.</h1>
                                <h5>GoToMeeting lets your best work shine through.</h5>
                            </div>

                            <div>
                                <input type="text" name="firstName" placeholder="First Name">
                            </div>

                            <div>
                                <input type="text" name="lastName" placeholder="Last Name">
                            </div>

                            <div>
                                <input type="email" name="email" placeholder="Email Address"
                                       data-error-message="Please enter a valid email address">
                            </div>

                            <div>
                                <input type="password" placeholder="Password: 8-32 letters and numbers"
                                       data-error-message="Password must contain letters and numbers">
                            </div>

                            <button type="submit" id="submit" class="button">
                                <span>Start my free 7-day trail</span>
                            </button>
                        </form>
                    </div>
            </section>
            <section class="contains">
                <footer class="rows">
                    <div class="column-xs-12 column-sm-6 column-md-6 column-lg-6">
                        <nav class="nav-footer">
                            <ul class="links-footer">
                                <li>
                                    <a href="#">United States</a>
                                </li>
                                <li>
                                    <a href="#">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Anti-Spam Policy</a>
                                </li>
                                <li>
                                    <a href="#">Download GoToMeeting</a>
                                </li>
                            </ul>
                            <!--<div class="column-lg-3 column-md-4 column-sm-12">
                                <figure class="footer-image">
                                    <img src="../images/logo_header.png">
                                </figure>
                            </div> -->
                        </nav>
                    </div>
                </footer>
            </section>
        </article>
    </body>
</html>