<!DOCTYPE html>
<html lang="en">
    <!--head of the web page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Web Designing"/>
        <meta name="keywords" content="web designing, UI UX, web development" />

        <title>CITRIX Secure Sign In</title>
        <link href="../stylesheets/styles/combine.css" rel="stylesheet"/>
        <!-- Latest compiled and minified CSS -->
        <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="bootstrap/css/boostrap-theme-min.css"> -->
    </head>

    <body>
        <article class="contains">
            <section>
                <header>

                    <div class="header">

                        <nav class="nav1 rows">
                            <!--<div class="column-lg-4 column-xs-12 column-sm-12 column-md-4">-->
                            <div class="column-lg-10">
                                <figure class="logo-citrix image">
                                    <img src="../images/logo_header.png">
                                </figure>
                            </div>
                            <div class="column-lg-2">
                                <ul class="links1 links">
                                    <!--<div class="column-lg-2"></div>-->
                                    <!--<li class="column-lg-4 column-xs-12 column-sm-12 column-md-4">-->
                                    <!--<li class="pull-right column-lg-4">-->
                                    <li class="column-lg-4">
                                        <a href="">Support</a>
                                    </li>
                                    <!--<li class="pull-right column-lg-4 column-xs-12 column-sm-12 column-md-4">-->
                                    <!--<li class="pull-right column-lg-4">-->
                                    <li class="column-lg-8">
                                        <a href="login.html">Sign In</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </header>
            </section>

            <section>
                <!-- bread crumb-->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign In</a></li>
                </ul>
            </section>

            <section>
                <div class="rows">

                    <form class="loginForm column-xs-12 column-sm-12 column-md-4 column-lg-4">
                        <div class="rows">
                            <!-- form logo-->
                            <figure class="form-image">
                                <!--<a href="index.html"></a>-->
                                <img src="../images/logo1.PNG" class="column-lg-6 column-md-6 column-sm-10">
                            </figure>
                        </div>

                        <div>
                            <!-- Username/ Email -->
                            <input id="email" name="email" type="email" placeholder="Email Address" required class="input">
                        </div>

                        <div>
                            <!-- Password -->
                            <input id="password" name="password" type="password" placeholder="Password" required class="input">
                        </div>

                            <button type="submit" id="submit" class="button btn-login">
                                <span>SUBMIT</span>
                            </button>

                            <!--<button class="button">
                                <input type="reset" value="Cancel">
                            </button> -->

                        <div class="checkbox">
                            <input type="checkbox" id="remember" name="remember"/>
                            <label for="remember">Remember Me</label>
                        </div>

                    </form>
                </div>

            </section>

            <footer>
            </footer>

        </article>
    </body>
</html>