<!DOCTYPE html>
<html lang="en">
    <!--head of the web page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Web Designing"/>
        <meta name="keywords" content="web designing, UI UX, web development" />

        <title>CITRIX Secure Sign In</title>
        <link href="../stylesheets/styles/combine.css" rel="stylesheet"/>
        <!-- Latest compiled and minified CSS -->
        <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="bootstrap/css/boostrap-theme-min.css"> -->
    </head>
    <body style="background-color: #39404D">
        <article class="contains">
            <section class="rows">
                <header>
                    <div class="header column-xs-12 column-sm-6 column-md-4 column-lg-3">
                        <nav class="nav1">
                            <div class="column-xs-12 column-sm-6 column-md-4 column-lg-3 ">
                                <figure class="logo-citrix column-6">
                                    <img src="../images/logo_header.png">
                                </figure>
                            </div>
                            <ul class="links1">
                                <li class="column-xs-12 column-sm-6 column-md-4 column-lg-3">
                                    <a href="" class="href-white">Support</a>
                                </li>
                                <li class="column-xs-12 column-sm-6 column-md-4 column-lg-3">
                                    <a href="login.html" class="href-white">Sign In</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <div>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
                </div>
            </section>

            <section class="contains">
                <div class="column-xs-12 column-sm-6 column-md-4 column-lg-3">
                <form class="loginForm">
                    <div>
                        <!-- form logo-->
                        <figure class="form-image">
                            <!--<a href="index.html"></a>-->
                            <img src="../images/logo1.PNG">
                        </figure>
                    </div>

                    <div>
                        <!-- Username/ Email -->
                        <input id="email" name="email" type="email" placeholder="Email Address" required>

                        <!-- Password -->
                        <input id="password" name="password" type="password" placeholder="Password" required>
                    </div>
                    <div>
                    <!--buttons-->
                    <button type="submit" id="submit" class="button">
                        <span>Submit</span>
                    </button>
                    </div>
                    <!--<button class="button">
                        <input type="reset" value="Cancel">
                    </button> -->

                    <div>
                        <label for="remember">Remember Me</label>
                        <input type="checkbox" id="remember" name="remember" class="checkbox"/>
                    </div>
                </form>
                </div>

            </section>
            <footer>
            </footer>
        </article>
    </body>
</html>