<!DOCTYPE html>

<html lang="en">

    <!--head of the web page-->
    <head>
        <!--title - this is the title of this html file-->
        <title>DMV New License Form</title>

        <!--this is external style-->
        <link href="../styles/mystyles.css" rel="stylesheet"/>
    </head>
    <!--body of the web page-->
    <body>

        <!--main article for forms-->
        <article>
            <!--page header-->
            <header>
                <h1>Welcome to my website!</h1>
            </header>
            <!--main body of the page-->
            <section>
                <!-- navigation list for various links -->
                <article>
                    <header>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.google.com/"> Home</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/imghp"> Images</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/maps"> Maps</a>
                                </li>
                                <li>
                                    <a href="https://mail.google.com/mail"> Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <section>
                        <!--form for new license in dmv-->
                        <form name="newLicenseForm">
                            <!--First Name-->
                            <div>
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" name="fName"/>
                            </div>
                            <br />

                            <!--Last Name-->
                            <div>
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lName"/>
                            </div>
                            <br />

                            <!--Phone Number-->
                            <div>
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" id="phoneNumber" name="phoneNumber" />
                            </div>
                            <br />
                            <!--Gender-->
                            <div>
                                <label for="gender">Applicant's Gender:</label>
                                <div id="gender">
                                    <!--male-->
                                    <label for="male">Male:</label>
                                    <input type="radio" id="male" name="gender" value="Male"/>

                                    <!--female-->
                                    <label for="female">Female:</label>
                                    <input type="radio" id="female" name="gender" value="Female"/>
                                </div>
                            </div>
                            <br />
                            <!--senior citizen-->
                            <div>
                                <label for="seniorCitizen">Is applicant a senior citizen?</label>
                                <input type="checkbox" id="seniorCitizen" name="seniorCitizen" data-srikar="viswa"/>
                            </div>
                            <!--submit button-->
                            <button type="submit" id="submit" name="submit">
                                <span>Submit</span>
                            </button>
                            <!--reset/cancel-->
                            <button type="reset" id="reset" name="reset">
                                <span>Cancel</span>
                            </button>
                        </form>
                    </section>
                </article>
            </section>
                <!--footer of the page-->
                <section>
                    <footer>
                        I'm at the bottom
                    </footer>
                </section>
        </article>
    </body>
</html>