<!DOCTYPE html>
<html lang="en">
    <!--head of the web page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="This is an online shopping website"/>
        <meta name="keywords" content="Clothing, Fashion, Style, Accessories, Women, wholesale, custom made" />

        <title>Vogue Fashion</title>
        <link href="../stylesheets/styles/stylesless.css" rel="stylesheet"/>
        <!-- Latest compiled and minified CSS -->
        <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="bootstrap/css/boostrap-theme-min.css"> -->
    </head>

    <!--body of the web page-->
    <body>
        <!--main body of the page-->
        <section>
            <article>
                <!--page header-->
                <header class="main-header">
                    <h1>VOGUE FASHION</h1>
                    <!--<img class=image src="../images/background-header.png">-->
                    <!--page navigation-->
                    <nav class="nav-header">
                        <ul class= "links">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog </a>
                            </li>
                            <li>
                                <a href="login.html">Log In</a>
                            </li>
                            <li>
                                <a href="signup.html">Register</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </article>
            <footer id="main-footer">
                <nav>
                    <ul class="footer">
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>
                        <li>
                            <a href="">Policies</a>
                        </li>
                        <li>
                            <a href="">Careers</a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </section>
    </body>
</html>