<!DOCTYPE html>

<html lang="en">

    <!--head of the web page-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="This is an online shopping website"/>
        <meta name="keywords" content="Clothing, Fashion, Style, Accessories, Women, wholesale, custom made" />

        <title>Vogue Fashion</title>
        <link href="../stylesheets/styles/stylesless.css" rel="stylesheet"/>
        <!-- Latest compiled and minified CSS -->
        <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="bootstrap/css/boostrap-theme-min.css"> -->
    </head>

    <!--body of the web page-->
    <body>
            <!--main body of the page-->
            <section>
                <article>
                    <!--page header-->
                    <header class="main-header">
                        <h1>VOGUE FASHION</h1>
                        <!--<img class=image src="../images/background-header.png" width="1022" height="50">-->
                        <!--page navigation-->
                        <nav class="nav-header">
                            <ul class= "links">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog </a>
                                </li>
                                <li>
                                    <a href="login.html">Log In</a>
                                </li>
                                <li>
                                    <a href="signup.html">Register</a>
                                </li>
                            </ul>
                            <!--
                            <ul id= "sprites">
                                <!--css sprites buttons
                                <li id="facebook">
                                    <a href="https://www.facebook.com/"></a>
                                </li>
                                <li id="twitter">
                                    <a href="https://twitter.com/"></a>
                                </li>
                                <li id="youtube">
                                    <a href="https://www.youtube.com/"></a>
                                </li>
                            </ul> -->

                        </nav>
                    </header>
                    <section class="contains">
                        <label for="categories" class="categories">Categories</label>
                        <div id="categories" class="column-xs-12 column-md-4 column-lg-4">
                            <select>
                                <option value=""></option>
                                <option value="Clothing">Clothing</option>
                                <option value="Accessories">Accessories</option>
                                <option value="Shoes">Shoes</option>
                                <option value="Sale">Sale</option>
                            </select>
                        </div>
                        <!--main content-->
                        <div class="rows">
                            <div class="column-xs-12 column column-md-4 column-lg-4">
                                <span>WINTER</span>
                                <img class="images" src="../images/winter.png" alt="Winter Clothing">
                            </div>
                        </div>

                        <div class="rows">
                            <div class="column-xs-12 column-md-4 column-lg-4">
                                <span>DRESSES</span>
                                <img class="images" src="../images/dresses.png" alt="Winter Clothing">
                            </div>
                        </div>

                        <div class="rows">
                            <div class="column-xs-12 column-md-4 column-lg-4">
                                <span>STYLES</span>
                                <img class="images" src="../images/styles.png" alt="Winter Clothing">
                            </div>
                        </div>

                        <div>
                            <div class="contains">
                                <p>
                                    Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.
                                Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.
                                Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.Dummy text.
                                </p>
                            </div>
                        </div>

                    </section>
                </article>
            </section>
            <!--footer of the page-->
            <footer id="main-footer">
                <nav>
                    <ul class="footer">
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>
                        <li>
                            <a href="">Policies</a>
                        </li>
                        <li>
                            <a href="">Careers</a>
                        </li>
                    </ul>
                </nav>
            </footer>
    </body>
</html>