* {
  box-sizing: border-box;
}
[class*="column-"] {
  float: left;
  padding: 0;
}
.contains {
  margin: 1px;
  padding: 2px;
}
.contains::before {
  content: "";
  clear: both;
  display: block;
}
.contains::after {
  content: "";
  clear: both;
  display: block;
}
.rows::after {
  content: "";
  clear: both;
  display: block;
}
[class*="column-"] {
  float: left;
}
@media only screen and (max-width: 767px) {
  .column-xs-1 {
    width: 8.33333333%;
  }
  .column-xs-2 {
    width: 16.66666667%;
  }
  .column-xs-3 {
    width: 25%;
  }
  .column-xs-4 {
    width: 33.33333333%;
  }
  .column-xs-5 {
    width: 41.66666667%;
  }
  .column-xs-6 {
    width: 50%;
  }
  .column-xs-7 {
    width: 58.33333333%;
  }
  .column-xs-8 {
    width: 66.66666667%;
  }
  .column-xs-9 {
    width: 75%;
  }
  .column-xs-10 {
    width: 83.33333333%;
  }
  .column-xs-11 {
    width: 91.66666667%;
  }
  .column-xs-12 {
    width: 100%;
  }
  .hidden-xs {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .column-sm-1 {
    width: 8.33333333%;
  }
  .column-sm-2 {
    width: 16.66666667%;
  }
  .column-sm-3 {
    width: 25%;
  }
  .column-sm-4 {
    width: 33.33333333%;
  }
  .column-sm-5 {
    width: 41.66666667%;
  }
  .column-sm-6 {
    width: 50%;
  }
  .column-sm-7 {
    width: 58.33333333%;
  }
  .column-sm-8 {
    width: 66.66666667%;
  }
  .column-sm-9 {
    width: 75%;
  }
  .column-sm-10 {
    width: 83.33333333%;
  }
  .column-sm-11 {
    width: 91.66666667%;
  }
  .column-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .column-md-1 {
    width: 8.33333333%;
  }
  .column-md-2 {
    width: 16.66666667%;
  }
  .column-md-3 {
    width: 25%;
  }
  .column-md-4 {
    width: 33.33333333%;
  }
  .column-md-5 {
    width: 41.66666667%;
  }
  .column-md-6 {
    width: 50%;
  }
  .column-md-7 {
    width: 58.33333333%;
  }
  .column-md-8 {
    width: 66.66666667%;
  }
  .column-md-9 {
    width: 75%;
  }
  .column-md-10 {
    width: 83.33333333%;
  }
  .column-md-11 {
    width: 91.66666667%;
  }
  .column-md-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .column-lg-1 {
    width: 8.33333333%;
  }
  .column-lg-2 {
    width: 16.66666667%;
  }
  .column-lg-3 {
    width: 25%;
  }
  .column-lg-4 {
    width: 33.33333333%;
  }
  .column-lg-5 {
    width: 41.66666667%;
  }
  .column-lg-6 {
    width: 50%;
  }
  .column-lg-7 {
    width: 58.33333333%;
  }
  .column-lg-8 {
    width: 66.66666667%;
  }
  .column-lg-9 {
    width: 75%;
  }
  .column-lg-10 {
    width: 83.33333333%;
  }
  .column-lg-11 {
    width: 91.66666667%;
  }
  .column-lg-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /*nav {
    ul {
      li {
        font-size: small;
        text-transform: capitalize;
      }
    }
  }*/
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hidden-sm {
    display: none;
  }
}
/*
@media only screen and (max-width: 768px) {

  .column-xs-12 {
    width: 100%;
  }

  .column-xs-11 {
    width: 91.66666667%;
  }

  .column-xs-10 {
    width: 83.33333333%;
  }

  .column-xs-9 {
    width: 75%;
  }

  .column-xs-8 {
    width: 66.66666667%;
  }

  .column-xs-7 {
    width: 58.33333333%;
  }

  .column-xs-6 {
    width: 50%;
  }

  .column-xs-5 {
    width: 41.66666667%;
  }

  .column-xs-4 {
    width: 33.33333333%;
  }
  .column-xs-3 {
    width: 25%;
  }
  .column-xs-2 {
    width: 16.66666667%;
  }
  .column-xs-1 {
    width: 8.33333333%;
  }
}

@media only screen and (min-width:768px) and (max-width: 1024px)  {

  .column-sm-12 {
    width: 100%;
  }

  .column-sm-11 {
    width: 91.66666667%;
  }

  .column-sm-10 {
    width: 83.33333333%;
  }

  .column-sm-9 {
    width: 75%;
  }

  .column-sm-8 {
    width: 66.66666667%;
  }

  .column-sm-7 {
    width: 58.33333333%;
  }

  .column-sm-6 {
    width: 50%;
  }

  .column-sm-5 {
    width: 41.66666667%;
  }

  .column-sm-4 {
    width: 33.33333333%;
  }
  .column-sm-3 {
    width: 25%;
  }
  .column-sm-2 {
    width: 16.66666667%;
  }
  .column-sm-1 {
    width: 8.33333333%;
  }
}

@media only screen and (min-width:1024px) and (max-width: 1200px)  {

  .column-md-12 {
    width: 100%;
  }
  .column-md-11 {
    width: 91.66666667%;
  }
  .column-md-10 {
    width: 83.33333333%;
  }
  .column-md-9 {
    width: 75%;
  }
  .column-md-8 {
    width: 66.66666667%;
  }
  .column-md-7 {
    width: 58.33333333%;
  }
  .column-md-6 {
    width: 50%;
  }
  .column-md-5 {
    width: 41.66666667%;
  }
  .column-md-4 {
    width: 33.33333333%;
  }
  .column-md-3 {
    width: 25%;
  }
  .column-md-2 {
    width: 16.66666667%;
  }
  .column-md-1 {
    width: 8.33333333%;
  }
}

@media only screen and (min-width:1200px) {

  .column-lg-12 {
    width: 100%;
  }
  .column-lg-11 {
    width: 91.66666667%;
  }
  .column-lg-10 {
    width: 83.33333333%;
  }
  .column-lg-9 {
    width: 75%;
  }
  .column-lg-8 {
    width: 66.66666667%;
  }
  .column-lg-7 {
    width: 58.33333333%;
  }
  .column-lg-6 {
    width: 50%;
  }
  .column-lg-5 {
    width: 41.66666667%;
  }
  .column-lg-4 {
    width: 33.33333333%;
  }
  .column-lg-3 {
    width: 25%;
  }
  .column-lg-2 {
    width: 16.66666667%;
  }
  .column-lg-1 {
    width: 8.33333333%;
  }
}
*/
.form {
  display: inline-block;
  position: absolute;
  top: 25%;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 5%;
  padding: 1%;
}
.form input {
  width: 90%;
  border: 1px solid #edeef0;
  margin-bottom: 1px;
  padding: 4%;
  background-color: #edeef0;
}
.form input:hover {
  border: 2px solid #fd7a2a;
}
/*styles*/
html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  margin: -3px;
  width: 0;
  height: 0;
  font-family: Calibri;
  background-color: #fd7a2a;
}
.loginBody {
  background-color: #333;
}
nav {
  width: 100%;
  z-index: 999;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  padding: 4%;
  cursor: pointer;
}
.nav1 {
  position: fixed;
  top: 0;
  background-color: #485164;
  padding: 2px;
}
.nav2 {
  position: fixed;
  top: 7%;
  background-color: #fff;
}
.nav2 ul li:hover {
  background-color: #edeef0;
  color: #485164;
}
.nav2 ul li ul {
  display: none;
}
.nav2 ul li ul li {
  display: block;
  float: none;
}
.nav2 ul li ul li:hover {
  background-color: #39404D;
  color: #edeef0;
}
.nav2 ul li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
.nav2 ul li ul li a:hover {
  display: block;
}
.links li {
  display: inline-block;
  text-align: center;
  padding: 0;
}
.links li:hover {
  border-bottom: 2px solid #fd7a2a;
}
.links li:active {
  border-bottom: 2px solid #fd7a2a;
}
.links1 li a {
  color: #fff;
}
.links2 {
  float: right;
}
.links2 li {
  width: 30%;
  margin-right: 1%;
  padding: 0%;
  text-transform: uppercase;
}
.links2 .meeting {
  background-color: #edeef0;
  color: #fd7a2a;
}
.image {
  float: left;
  padding: 5px;
}
.nav-footer {
  display: inline-block;
  position: absolute;
  bottom: -15%;
  background-color: #485164;
}
.links-footer li {
  width: 7%;
}
.links-footer li a {
  color: #fff;
}
.main-form {
  display: inline-block;
  position: absolute;
  top: 25%;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 5%;
  padding: 1%;
  right: 5%;
}
.main-form input {
  width: 90%;
  border: 1px solid #edeef0;
  margin-bottom: 1px;
  padding: 4%;
  background-color: #edeef0;
}
.main-form input:hover {
  border: 2px solid #fd7a2a;
}
.main-form > h3 {
  color: #fd7a2a;
  display: inline-block;
}
.main-form > h1 {
  font-weight: 300;
  display: inline-block;
}
.button {
  display: inline-block;
  width: 90%;
  background-color: #fd7a2a;
  color: #fff;
  margin: 4%;
  padding: 2%;
}
.button:hover {
  background-color: #fc9402;
  cursor: pointer;
}
.loginForm {
  display: inline-block;
  position: absolute;
  top: 25%;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 5%;
  padding: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
}
.loginForm input {
  width: 90%;
  border: 1px solid #edeef0;
  margin-bottom: 1px;
  padding: 4%;
  background-color: #edeef0;
}
.loginForm input:hover {
  border: 2px solid #fd7a2a;
}
.loginForm .form-image {
  display: inline-block;
}
.loginForm .btn-login {
  display: inline-block;
  width: 90%;
  background-color: #fd7a2a;
  margin: 4%;
  padding: 2%;
  background-color: #45A6DF;
  color: #fff;
}
.loginForm .btn-login:hover {
  background-color: #fc9402;
  cursor: pointer;
}
/*

ul.breadcrumb {
  padding: 8px 16px;
  //list-style: none;
  background-color: @dark-blue;
  }
  ul.breadcrumb li {

    display: inline-block;
    width: 10%;
    float: left;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: @dark-gray;
  }
  ul.breadcrumb li a {

    color: @light-gray;
  }
*/
